# Ignore all files and folders starting with "."
.*
# Except...
!**/.gitignore
!**/.github

# config file or folder
**/config
**/config.json

# Logs
**/logs
*.log

# Project credentials stored library
**/credentials

# Clasp files
**/.clasp.json
**/.clasprc.json
**/.creds.json

# Dependency directories
node_modules

# Backup folder
backup

# dotenv environment variables file
**/.env
**/.env.test
**/.env.production
